<ul class="nav nav-tabs">
    <li><a href="/Admin/Settings_Web">网站设定</a></li>
    <li><a href="/Admin/Settings_Topic">话题设定</a></li>
    <li><a href="/Admin/Settings_LoginAPI">登录接口</a></li>
    <li><a href="/Admin/Settings_Mail">邮件配置</a></li>
<!--    <li><a href="/Admin/Settings_Custom">自定义url</a></li>
    <li><a href="/Admin/Settings_Save">存储设定</a></li>-->

</ul>
